In [13]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import math
import warnings
import psycopg2

warnings.filterwarnings('ignore')

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [ ]:
insurance.keys()

In [16]:
sql = '''
  SELECT COUNT(*) as count, a.actor_id, a.first_name, a.last_name 
  FROM film f 
  JOIN film_actor fa 
  ON f.film_id = fa.film_id 
  JOIN actor a 
  ON a.actor_id = fa.actor_id 
  JOIN film_category fc 
  ON fc.film_id = f.film_id
  JOIN category c
  ON c.category_id = fc.category_id
  WHERE c.name = 'Comedy'
  GROUP BY a.actor_id
  ORDER BY count DESC
'''

results = engine.execute(sql)
#engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(6, 196, 'BELA', 'WALKEN')
(5, 143, 'RIVER', 'DEAN')
(5, 149, 'RUSSELL', 'TEMPLE')
(4, 129, 'DARYL', 'CRAWFORD')
(4, 76, 'ANGELINA', 'ASTAIRE')
(4, 58, 'CHRISTIAN', 'AKROYD')
(4, 24, 'CAMERON', 'STREEP')
(4, 83, 'BEN', 'WILLIS')
(4, 37, 'VAL', 'BOLGER')
(4, 198, 'MARY', 'KEITEL')
(4, 101, 'SUSAN', 'DAVIS')
(4, 82, 'WOODY', 'JOLIE')
(4, 127, 'KEVIN', 'GARLAND')
(3, 159, 'LAURA', 'BRODY')
(3, 71, 'ADAM', 'GRANT')
(3, 162, 'OPRAH', 'KILMER')
(3, 84, 'JAMES', 'PITT')
(3, 173, 'ALAN', 'DREYFUSS')
(3, 42, 'TOM', 'MIRANDA')
(3, 125, 'ALBERT', 'NOLTE')
(3, 153, 'MINNIE', 'KILMER')
(3, 147, 'FAY', 'WINSLET')
(3, 19, 'BOB', 'FAWCETT')
(3, 81, 'SCARLETT', 'DAMON')
(3, 17, 'HELEN', 'VOIGHT')
(3, 54, 'PENELOPE', 'PINKETT')
(3, 34, 'AUDREY', 'OLIVIER')
(3, 90, 'SEAN', 'GUINESS')
(3, 45, 'REESE', 'KILMER')
(3, 107, 'GINA', 'DEGENERES')
(3, 89, 'CHARLIZE', 'DENCH')
(3, 31, 'SISSY', 'SOBIESKI')
(3, 158, 'VIVIEN', 'BASINGER')
(3, 13, 'UMA', 'WOOD')
(3, 133, 'RICHARD', 'PENN')
(3, 128, 'CATE', 'MCQUEEN')
(3, 99, 'JIM', 'MOSTEL')
(3, 191, 'GREGORY', 'GOODING')
(2, 119, 'WARREN', 'JACKMAN')
(2, 25, 'KEVIN', 'BLOOM')
(2, 43, 'KIRK', 'JOVOVICH')
(2, 69, 'KENNETH', 'PALTROW')
(2, 26, 'RIP', 'CRAWFORD')
(2, 85, 'MINNIE', 'ZELLWEGER')
(2, 187, 'RENEE', 'BALL')
(2, 57, 'JUDE', 'CRUISE')
(2, 154, 'MERYL', 'GIBSON')
(2, 160, 'CHRIS', 'DEPP')
(2, 172, 'GROUCHO', 'WILLIAMS')
(2, 21, 'KIRSTEN', 'PALTROW')
(2, 92, 'KIRSTEN', 'AKROYD')
(2, 74, 'MILLA', 'KEITEL')
(2, 177, 'GENE', 'MCKELLEN')
(2, 29, 'ALEC', 'WAYNE')
(2, 182, 'DEBBIE', 'AKROYD')
(2, 181, 'MATTHEW', 'CARREY')
(2, 105, 'SIDNEY', 'CROWE')
(2, 86, 'GREG', 'CHAPLIN')
(2, 144, 'ANGELA', 'WITHERSPOON')
(2, 163, 'CHRISTOPHER', 'WEST')
(2, 106, 'GROUCHO', 'DUNST')
(2, 50, 'NATALIE', 'HOPKINS')
(2, 102, 'WALTER', 'TORN')
(2, 185, 'MICHAEL', 'BOLGER')
(2, 111, 'CAMERON', 'ZELLWEGER')
(2, 2, 'NICK', 'WAHLBERG')
(2, 62, 'JAYNE', 'NEESON')
(2, 199, 'JULIA', 'FAWCETT')
(2, 146, 'ALBERT', 'JOHANSSON')
(2, 152, 'BEN', 'HARRIS')
(2, 41, 'JODIE', 'DEGENERES')
(2, 157, 'GRETA', 'MALDEN')
(2, 12, 'KARL', 'BERRY')
(2, 164, 'HUMPHREY', 'WILLIS')
(2, 112, 'RUSSELL', 'BACALL')
(2, 135, 'RITA', 'REYNOLDS')
(2, 65, 'ANGELA', 'HUDSON')
(2, 124, 'SCARLETT', 'BENING')
(2, 132, 'ADAM', 'HOPPER')
(2, 44, 'NICK', 'STALLONE')
(2, 80, 'RALPH', 'CRUZ')
(2, 161, 'HARVEY', 'HOPE')
(2, 188, 'ROCK', 'DUKAKIS')
(2, 40, 'JOHNNY', 'CAGE')
(1, 193, 'BURT', 'TEMPLE')
(1, 180, 'JEFF', 'SILVERSTONE')
(1, 168, 'WILL', 'WILSON')
(1, 93, 'ELLEN', 'PRESLEY')
(1, 98, 'CHRIS', 'BRIDGES')
(1, 175, 'WILLIAM', 'HACKMAN')
(1, 36, 'BURT', 'DUKAKIS')
(1, 64, 'RAY', 'JOHANSSON')
(1, 137, 'MORGAN', 'WILLIAMS')
(1, 78, 'GROUCHO', 'SINATRA')
(1, 167, 'LAURENCE', 'BULLOCK')
(1, 66, 'MARY', 'TANDY')
(1, 109, 'SYLVESTER', 'DERN')
(1, 60, 'HENRY', 'BERRY')
(1, 155, 'IAN', 'TANDY')
(1, 178, 'LISA', 'MONROE')
(1, 118, 'CUBA', 'ALLEN')
(1, 130, 'GRETA', 'KEITEL')
(1, 113, 'MORGAN', 'HOPKINS')
(1, 116, 'DAN', 'STREEP')
(1, 97, 'MEG', 'HAWKE')
(1, 108, 'WARREN', 'NOLTE')
(1, 141, 'CATE', 'HARRIS')
(1, 117, 'RENEE', 'TRACY')
(1, 15, 'CUBA', 'OLIVIER')
(1, 79, 'MAE', 'HOFFMAN')
(1, 156, 'FAY', 'WOOD')
(1, 48, 'FRANCES', 'DAY-LEWIS')
(1, 52, 'CARMEN', 'HUNT')
(1, 126, 'FRANCES', 'TOMEI')
(1, 72, 'SEAN', 'WILLIAMS')
(1, 95, 'DARYL', 'WAHLBERG')
(1, 194, 'MERYL', 'ALLEN')
(1, 166, 'NICK', 'DEGENERES')
(1, 47, 'JULIA', 'BARRYMORE')
(1, 197, 'REESE', 'WEST')
(1, 77, 'CARY', 'MCCONAUGHEY')
(1, 142, 'JADA', 'RYDER')
(1, 115, 'HARRISON', 'BALE')
(1, 11, 'ZERO', 'CAGE')
(1, 20, 'LUCILLE', 'TRACY')
(1, 28, 'WOODY', 'HOFFMAN')
(1, 192, 'JOHN', 'SUVARI')
(1, 104, 'PENELOPE', 'CRONYN')
(1, 5, 'JOHNNY', 'LOLLOBRIGIDA')
(1, 91, 'CHRISTOPHER', 'BERRY')
(1, 46, 'PARKER', 'GOLDBERG')
(1, 114, 'MORGAN', 'MCDORMAND')
(1, 183, 'RUSSELL', 'CLOSE')
(1, 179, 'ED', 'GUINESS')
(1, 4, 'JENNIFER', 'DAVIS')
(1, 38, 'TOM', 'MCKELLEN')
(1, 150, 'JAYNE', 'NOLTE')
(1, 170, 'MENA', 'HOPPER')
(1, 67, 'JESSICA', 'BAILEY')
(1, 63, 'CAMERON', 'WRAY')
(1, 10, 'CHRISTIAN', 'GABLE')
(1, 33, 'MILLA', 'PECK')
(1, 140, 'WHOOPI', 'HURT')
(1, 1, 'PENELOPE', 'GUINESS')
(1, 70, 'MICHELLE', 'MCCONAUGHEY')
(1, 134, 'GENE', 'HOPKINS')
(1, 139, 'EWAN', 'GOODING')

In [23]:
counts = [row['count'] for row in rows]

print('The mean number of comedy movies by actor is {}'.format(np.mean(counts)))
print('The median number of comedy movies by actor is {}'.format(np.median(counts)))
print('The standard deviation of appearances in comedy movies is {}'.format(np.std(counts)))

The mean number of comedy movies by actor is 1.945578231292517
The median number of comedy movies by actor is 2.0
The standard deviation of appearances in comedy movies is 1.0483697283960844

## Look at the table

In [38]:
sql = '''
  SELECT *
  FROM film
  LIMIT 10
'''

table = engine.execute(sql)
print(table.keys())

engine.dispose()

['film_id', 'title', 'description', 'release_year', 'language_id', 'original_language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']

## How many movies are released for each rating?

In [43]:
sql = '''
  SELECT rating, COUNT(rating)
  FROM film
  GROUP BY rating
'''

table = engine.execute(sql)

rows = table.fetchall()

engine.dispose()

for row in rows:
  print(row)

('R', 195)
('NC-17', 210)
('PG', 194)
('PG-13', 223)
('G', 178)

## What is the average rental duration for each rating?

In [44]:
sql = '''
  SELECT rating, AVG(rental_duration)
  FROM film
  GROUP BY rating
'''

table = engine.execute(sql)

rows = table.fetchall()

engine.dispose()

for row in rows:
  print(row)

('R', Decimal('4.7743589743589744'))
('NC-17', Decimal('5.1428571428571429'))
('PG', Decimal('5.0824742268041237'))
('PG-13', Decimal('5.0538116591928251'))
('G', Decimal('4.8370786516853933'))

## What is the mean movie length? Calculate this by defining a function.

In [50]:
sql = '''
  SELECT length
  FROM film
'''

table = engine.execute(sql)

rows = table.fetchall()

engine.dispose()

counts = [row['length'] for row in rows]

print('The mean movie length in minutes is {}.'.format(np.mean(counts)))

The mean movie length in minutes is 115.272.

## What is the median movie length? Calculate this by defining a function.

In [51]:
sql = '''
  SELECT length
  FROM film
'''

table = engine.execute(sql)

rows = table.fetchall()

engine.dispose()

counts = [row['length'] for row in rows]

print('The median movie length in minutes is {}.'.format(np.median(counts)))

The median movie length in minutes is 114.0.

## Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [52]:
sql = '''
  SELECT length
  FROM film
'''

table = engine.execute(sql)

rows = table.fetchall()

engine.dispose()

counts = [row['length'] for row in rows]

print('The standard deviation of the movie lengths in minutes is {}'.format(np.std(counts)))

The standard deviation of the movie lengths in minutes is 40.40611359683086